# Editors
.vscode/
.idea/
/*.iml

# Git things

# Node things
node_modules/
*.log*

# Build things
dist*/
/site-dist/
*.tgz
coverage/
*.xml
.awcache/
.eslintcache
*.tsbuildinfo

# OS
.DS_Store

# MCP
.mcp.json

# Claude Code
.claude/settings.local.json

storybook-static/
.rpt2_cache/

/report.*.json

*storybook.log

#Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
