language: node_js
cache: yarn
notifications:
  email: false
env:
  - TZ=Australia/Brisbane

jobs:
  include:
    - stage: test
      script: yarn test
      after_success:
        - curl -s https://codecov.io/bash | bash
        - |
          if [ "$TRAVIS_BRANCH" == "master" ]; then
            yarn run chromatic --auto-accept-changes
          elif [[ $TRAVIS_EVENT_TYPE != 'pull_request' ||  $TRAVIS_PULL_REQUEST_SLUG != $TRAVIS_REPO_SLUG ]]; then
            yarn run chromatic
          fi
    - stage: deploy
      script: yarn build
      after_success: |
        if [ -n "$TRAVIS_PULL_REQUEST_SHA" ]; then
          npx surge -p ./storybook-static/ -d overdrive--${TRAVIS_PULL_REQUEST_SHA}.surge.sh
        elif [ "$TRAVIS_BRANCH" == "master" ]; then
          npx surge -p ./storybook-static/ -d overdrive.autoguru.io
        fi
