@import '~@autoguru/styles/preflight';

select {
	width: 100%;
	background-color: transparent;
	padding-right: calc(
		var(--global--input--status--icon--size) +
			var(--global--input--status--icon--gap)
	);
}

.arrow {
	pointer-events: none;
	position: absolute;
	right: var(--global--input--status--icon--gap);
	top: calc(50% - (0.5 * var(--global--input--status--icon--size)));
	transition: fill 0.2s cubic-bezier(0, 0, 0.2, 1) 0s;
	fill: getColour(gray, 500);
}
